<div{% if section.settings.use_container %} class="container"{% endif %}>
    {{ section.settings.custom_liquid }}
</div>
  
{% schema %}{
    "name": "t:sections.custom_liquid.name",
    "settings": [
        {
            "type": "checkbox",
            "id": "use_container",
            "label": "t:sections.custom_liquid.settings.use_container.label",
            "default": true
        },
        {
            "type": "liquid",
            "id": "custom_liquid",
            "label": "t:sections.custom_liquid.settings.custom_liquid.label",
            "info": "t:sections.custom_liquid.settings.custom_liquid.info"
        }
    ],
    "presets": [
        {
            "name": "Custom Liquid",
            "category": "1) Main building sections"
        }
    ]
}{% endschema %}